.loader-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #136776;
  z-index: 10000;
  text-align: center;
  pointer-events: none;
  animation: cont-move 3s 1 linear forwards;
}
@keyframes cont-move {
  0% {
    opacity: 1;
  }
  15% {
    opacity: .8;
  }
  35% {
    opacity: .6;
  }
  50% {
    opacity: .5;
  }
  70% {
    opacity: .2;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
}
.loading span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  animation: waving 1.5s infinite ease-in-out;
  -webkit-animation: waving 1.5s infinite ease-in-out;
}
.loading span:nth-of-type(2) {
  left: 20px;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  left: 40px;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  left: 60px;
  animation-delay: 0.6s;
}
.loading span:last-of-type {
  left: 80px;
  animation-delay: 0.8s;
}
@keyframes waving {
  0%, 50%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    background-color: rgb(238, 245, 243);
}
  25% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    background-color: rgb(197, 238, 224) ;
  }
}


/* navbar animation */ 
/* .navbar-brand{
  animation: logoMoving1 3s ease-in-out;
  -webkit-animation: logoMoving1 3s ease-in-out;
  opacity: 1;
}
@keyframes logoMoving1 {
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.outer-brand {
  position: absolute;
  z-index: 11000;
  top: 50vh;
  right: 50vw;
  width: 130px;
  height: 110px;
  
  animation: logoMoving 2s 1 linear forwards;
}
.outer-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes logoMoving {

  0%{
    top: 50vh;
    right: 50vw;
    width: 130px;
    height: 110px;
  }
  15%{
    top: calc(50vh - 71px);
    right: calc(50vw - 71px);
    width: calc(130px - 15px);
    height: calc(110px - 10px);
 }
  35%{
    top: calc(50vh - 142px);
    right: calc(50vw - 117px);
    width: calc(130px - 30px);
    height: calc(110px - 20px);
 }
  50%{
    top: calc(50vh - 213px);
    right: calc(50vw - 163px);
    width: calc(130px - 45px);
    height: calc(110px - 30px);
 }
  70%{
    top: calc(50vh - 284px);
    right: calc(50vw - 209px);
    width: calc(130px - 45px);
    height: calc(110px - 30px);
 }
  85%{
    top: calc(50vh - 355px);
    right: calc(50vw - 300px);
    width: calc(130px - 45px);
    height: calc(110px - 30px);
 }
  100%{
    top: calc(50vh - 355px);
    right: calc(50vw - 550px);
    width: calc(130px - 45px);
    height: calc(110px - 30px);
 }
  /* 90%{
    top: 66px;
    right: 40px;
    opacity: 1;
 }
  90%{
    top: 66px;
    right: 40px;
    opacity: 1;
 }
  90%{
    top: 66px;
    right: 40px;
    opacity: 1;
 }
 100%{
  top: 66px;
  right: 40px;
 } */
}


/* @media(max-width: 576px) {
  @keyframes logoMoving {

    0%{
      top: 300px;
      right: 48%;
      opacity: 1;
    }
    90%{
      top: 60px;
      right: 0;
      opacity: 1;
  
   }
   100%{
    top: 60px;
    right: 0;
    opacity: 0;
   }
  }
} */